@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SteamArt</h1>
    <p class="lead">This is a silly.</p>
</div>

<form class="form-horizontal">
    <fieldset>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Steam ID</label>
            <div class="col-md-4">
                <input id="steam-id" name="steam-id" type="text" placeholder="1234567890" class="form-control input-md">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label">&nbsp;</label>
            <div class="col-md-4">
                <button id="make-art" name="make-art" class="btn btn-primary">Load</button>
            </div>
        </div>

    </fieldset>
</form>

<div id="this-is-art">

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/site")
}