@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SteamArt</h1>
    <p class="lead">This is a silly.</p>
</div>

<form class="form-horizontal">
    <fieldset>

        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Steam ID</label>
            <div class="col-md-4">
                <input id="steam-id" name="steam-id" type="text" placeholder="1234567890" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">&nbsp;</label>
            <div class="col-md-4">
                <button id="make-art" name="make-art" class="btn btn-primary">Load</button>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-4 control-label" for="scale-options">Scale Option</label>
            <div class="col-md-4">
                <div class="radio">
                    <label for="scale-option-none">
                        <input type="radio" name="scale-options" id="scale-option-none" value="none" checked="checked">
                        None
                    </label>
                </div>
                <div class="radio">
                    <label for="scale-option-played">
                        <input type="radio" name="scale-options" id="scale-option-played" value="played">
                        Total Time Played
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="sort-options">Sort Option</label>
            <div class="col-md-4">
                <div class="radio">
                    <label for="sort-option-none">
                        <input type="radio" name="sort-options" id="sort-option-none" value="none" checked="checked">
                        None
                    </label>
                </div>
                <div class="radio">
                    <label for="sort-option-played">
                        <input type="radio" name="sort-options" id="sort-option-played" value="played">
                        Total Time Played
                    </label>
                </div>
                <div class="radio">
                    <label for="sort-option-name">
                        <input type="radio" name="sort-options" id="sort-option-name" value="name">
                        Name
                    </label>
                </div>
            </div>
        </div>

    </fieldset>
</form>

<div id="this-is-art">

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/site")
}